
    <h1>CS103a App</h1>
    <p class="text-danger">CA02-Express/Mongoose/EJS + OpenAI</p>
    <!-- Here we show how to encode a URI and get weather data -->
    <br>
    <a href="/gpt">Movie Recommender app</a>


  
    
  
